{
  "extends": "eslint-config-standard",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": [
      2,
      "never"
    ],
    "operator-linebreak": 0,
    "no-case-declarations": 0,
    "no-shadow": 0,
    "func-names": 0,
    "eol-last": 0,
    "new-cap": 0,
    "semi": [
      "error",
      "always"
    ],
    "indent": [
      "error",
      4,
      { "SwitchCase": 1 }
    ],
    "space-before-function-paren": ["error", { "anonymous": "always", "named": "never" }]
  }
}
